body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    color: rgb(0, 0, 0);
  }

nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    
  }
  
  nav a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    margin: 0px 20px 0px 20px;
  }

  h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
  }