html{
  background-color: #b1b1b1;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }

  /* Header includes name and Nav Bar Icons. Makes the nav bar stay at the top of the page while scrolling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: linear-gradient(0.25turn, #3f87a6, #caaee0, #8d1df7);
    color: rgb(0, 0, 0);
    width: 100%;
    position:fixed;
    height: 5%;
    z-index: 100;
  }

  /* nav bar sizing and placement */
nav {
  display: flex;
}

nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
  }
  
  nav a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    margin: 0px 20px 0px 20px;
  }

  /* highlight nav items when hovering */
  Nav ul li:hover{
    background-color:#b46bf8 ;
  }


/* adjust font size on headers to make them fill more space */
  h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
  }

  /* brings elements down so the yare not covered by nav bar */
main{
  margin-top: 3%;
}

/* allows articles to flex with scaling */
section article{
    display: flex;
    height: 100%;
    
/* adjusts article headers to the correct size, color and placement */
}
section article h1 {
margin-left: 20%;
margin-top: 0%;
margin-bottom: 0%;
width:15%;
flex-direction: row;
border-right: 3px;
border-style: groove;
border-color: #000000;
text-align: center;
background-image: linear-gradient(0.25turn, #00516e, #531091);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

/* adjusts article divs to put them in the correct order and placement. */
section article div {
    position: relative;
    max-width: 60%;
    text-align: center;
    font-size: 125%;
    margin: 3px;
    display: flex;
    flex-direction: column;
 
}

/* makes contact information glow when hovering */
section article div li:hover {
  background-color: #dadada

}

/* makes my work images glow when hovering */
section article div img:hover {
 opacity: .5;
}

/* Keeps divs from gettings to close to eachother */
figcaption {
  margin: 0% 0% 5% 0%;
}

/* currently just sizing the placeholder images for future projects. This will be more defined as I add images and new items. */
.placeholder{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  }

/* controls sizing of my photo next to about me */
#avatar{
  height: 20%;
  width: 20%;
  margin: 0;
  position: absolute;
  z-index: -1;
}


/* controls sizing of heading image when scaling */
#heading-image{
  display:flex;
  width:100%;
}




/* makes my work larger than the others */
#mywork{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  }

  /* brings other work items below main work item and organizes as a row. */
  #myworkunderitems{
    display: flex;
    flex-direction: row;
  
  }


  /*media controls items for scaling on different devices. */
  @media screen and (max-width: 768px) {
    body,
    header,
    nav,
    section,
    main,
    article{
      flex-direction: column;
      justify-content: center;
    }
    #heading-image {
      display: none
    }
    #avatar{
      display: none;
    }

    header {
      padding: 1%;
      background: linear-gradient(0.25turn, #3f87a6, #caaee0, #8d1df7);
      color: rgb(0, 0, 0);
      width: 100%;
      height: 150%;
      position:relative;
      height: 5%;
      z-index: 100;
    }

    nav a {
      color: #000000;
      font-weight: bold;
      text-decoration: none;
      font-size: 100%;
      margin: 0px 20px 0px 20px;
      flex-direction: column;
    }
  
    h1 {
      margin: 2%;
      font-size: 100%;
      font-family: serif;
      display: flex;
    }
    section article h1 {
      position: relative;
      border-color: #000000;
      border-width: 0px 0px 2px 0px;
      text-align: center;
      margin: 0px 0px 0px 0px;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    section article{
      display: flex;
      text-align: center;
    }
    section article div {
      max-width: 100%;
    }
    #mywork{
      object-fit: contain;
      width: 100%;
    }
  }